<div class="panels">
  <app-panel class="panel1">
    <p>Hey</p>
    <p>Let's</p>
    <p>Dance</p>
  </app-panel>
  <app-panel class="panel2">
    <p>Give</p>
    <p>Take</p>`
    <p>Receive</p>    
  </app-panel>
  <app-panel class="panel3">
    <p>Experience</p>
    <p>It</p>
    <p>Today</p>    
  </app-panel>
  <app-panel class="panel4">
    <p>Give</p>
    <p>All</p>
    <p>You can</p>    
  </app-panel>
  <app-panel class="panel5">
    <p>Life</p>
    <p>In</p>
    <p>Motion</p>  
  </app-panel>
</div>
