<div class="panels">
  <div class="panel panel1" #mypanel>
    <p>Hey</p>
    <p>Let's</p>
    <p>Dance</p>
  </div>
  <div class="panel panel2" #mypanel>
    <p>Give</p>
    <p>Take</p>`
    <p>Receive</p>    
  </div>
  <div class="panel panel3" #mypanel>
    <p>Experience</p>
    <p>It</p>
    <p>Today</p>    
  </div>
  <div class="panel panel4" #mypanel>
    <p>Give</p>
    <p>All</p>
    <p>You can</p>    
  </div>
  <div class="panel panel5" #mypanel>
    <p>Life</p>
    <p>In</p>
    <p>Motion</p>  
  </div>
</div>
