<div class="photobooth">
  <div class="controls">
    <button (click)="takePhoto(snap, strip)">Take Photo</button>
     <div class="rgb">
      <label for="rmin">Red Min:</label>
      <input type="range" min=0 max=255 name="rmin" [(ngModel)]="redMin">
      <label for="rmax">Red Max:</label>
      <input type="range" min=0 max=255 name="rmax" [(ngModel)]="redMax">

      <br>

      <label for="gmin">Green Min:</label>
      <input type="range" min=0 max=255 name="gmin" [(ngModel)]="greenMin">
      <label for="gmax">Green Max:</label>
      <input type="range" min=0 max=255 name="gmax" [(ngModel)]="greenMax">

      <br>

      <label for="bmin">Blue Min:</label>
      <input type="range" min=0 max=255 name="bmin" [(ngModel)]="blueMin">
      <label for="bmax">Blue Max:</label>
      <input type="range" min=0 max=255 name="bmax" [(ngModel)]="blueMax">
    </div>
  </div>

  <canvas class="photo" #canvas></canvas>
  <video class="player" #video></video>
  <div class="strip" #strip>
    <a *ngFor="let photo of photos" href="{{photo?.data}}" download="cute">
      <img src="{{photo?.data}}" alt="{{photo?.alt}}" />
    </a>
  </div>
</div>

<audio class="snap" src="http://wesbos.com/demos/photobooth/snap.mp3" hidden #snap></audio>
