/* You can add global styles to this file, and also import other style files */
html {
  box-sizing: border-box;
  background:url('http://wes.io/hx9M/oh-la-la.jpg') center no-repeat;
  background-size:cover;
  min-height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Futura,"Trebuchet MS",Arial,sans-serif
}
*, *:before, *:after {box-sizing: inherit; }

svg {
  fill:white;
  background: rgba(0,0,0,0.1);
  padding: 20px;
  border-radius: 50%;
  width:200px;
  margin-bottom: 50px;
}
