<nav class="top" #myNav>
  <div class="dropdownBackground" #dropdownBackground>
    <span class="arrow"></span>
  </div>

  <ul class="cool">
    <li (mouseenter)="handleEnter($event)" (mouseleave)="handleLeave($event)">
      <app-dropdown-content href='&#35;' linkName='About Me' dropdownClass='dropdown1'>
        <div class="bio">
          <img src="https://logo.clearbit.com/wesbos.com">
          <p>Wes Bos sure does love web development. He teaches things like JavaScript, CSS and BBQ. Wait.
            BBQ isn't part of web development. It should be though!</p>
        </div>
      </app-dropdown-content>
    </li>
    <li (mouseenter)="handleEnter($event)" (mouseleave)="handleLeave($event)">
      <a href="#">Courses</a>
      <ul class="dropdown courses">
        <li *ngFor='let course of courses'>
          <span class="code">{{course.code}}</span>
          <a href="{{course.link}}" target="_blank">{{course.description}}</a>
        </li>
      </ul>
    </li>
    <li (mouseenter)="handleEnter($event)" (mouseleave)="handleLeave($event)">
      <a href="#">Other Links</a>
      <ul class="dropdown dropdown3">
        <li *ngFor="let account of socialAccounts">
          <a class="button" href="{{account.link}}">
            {{account.description}}
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
