/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  background:#4C4C4C url('https://unsplash.it/1500/900?image=1021');
  background-size:cover;
  font-family: sans-serif;
}
