<!--The content below is only a placeholder and can be replaced.-->
<!--div fxLayout="row" fxLayoutAlign="center center"  fxFlex="1 1 0%" class='keys'-->
<drum-key value='65' letter='A' description='clap'></drum-key>
<drum-key value='83' letter='S' description='hihat'></drum-key>
<drum-key value='68' letter='D' description='kick'></drum-key>
<drum-key value='70' letter='F' description='openhat'></drum-key>
<drum-key value='71' letter='G' description='boom'></drum-key>
<drum-key value='72' letter='H' description='ride'></drum-key>
<drum-key value='74' letter='J' description='snare'></drum-key>
<drum-key value='75' letter='K' description='tom'></drum-key>
<drum-key value='76' letter='L' description='tink'></drum-key>
