
:host {
  width: 100%;
  min-height: 100vh;
  border: 3px solid red;
  margin: 0;
  padding: 0;

  background: url(http://i.imgur.com/b9r5sEL.jpg) bottom center;
  background-size: cover;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  flex: 1;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}
