
:host {
  background: green;
  width: 100%;
  height: 100vh;
  border: 3px solid red;
  margin: 0;
  padding: 0;

  background: url(http://i.imgur.com/b9r5sEL.jpg) bottom center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}
