a {
  color: yellow;
  text-decoration: none;
  font-size: 20px;
  background: rgba(0,0,0,0.2);
  padding:10px 20px;
  display: inline-block;
  margin:20px;
  border-radius:5px;
}

.dropdown {
  opacity: 0;
  position: absolute;
  overflow: hidden;
  padding:20px !important;
  top:-20px;
  border-radius:2px;
  transition: all 0.5s;
  transform: translateY(100px);
  will-change: opacity;
  display: none;
}

:host(.trigger-enter .dropdown) {
  display: block;
}

:host(.trigger-enter-active .dropdown) {
  opacity: 1;
}

.bio {
  min-width:500px;
  display:flex;
  justify-content: center;
  align-items: center;
  line-height: 1.7;
}

.bio img {
  float:left;
  margin-right:20px;
}
