/* You can add global styles to this file, and also import other style files */
html {
  background:#018DED url(http://unsplash.it/1500/1000?image=881&blur=50);
  background-size:cover;
  font-family:'helvetica neue';
  text-align: center;
  width: 100%;
}
