/* You can add global styles to this file, and also import other style files */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: 10px;
  background:#ffc600;
}
